body {
    
}

.red{
    width:250px;
    height:150px;
    background-color:red;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}

.green{
    width:250px;
    height:150px;
    background-color:green;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}

.green-light{
    width:250px;
    height:150px;
    background-color:seagreen;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}

.green-bright{
    width:250px;
    height:150px;
    background-color:mediumseagreen;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}

.purple{
    width:250px;
    height:150px;
    background-color:purple;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}

.yellow{
    width:250px;
    height:150px;
    background-color:yellow;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}

.blue{
    width:250px;
    height:150px;
    background-color:blue;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}
.orange{
    width:250px;
    height:150px;
    background-color:orange;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}

.orange-light{
    width:250px;
    height:150px;
    background-color:coral;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}

.pink{
    width:250px;
    height:150px;
    background-color:deeppink;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}
.pink-light{
    width:250px;
    height:150px;
    background-color:pink;
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}

.mix-pink{
    width:250px;
    height:150px;
    background-color:linear-gradient(pink,deeppink);
    position:relative ;
    border-radius:5px;
    margin:auto;
    border:0.5px solid;
}

.ranging{
    width:165px;
    height:3px;
    -webkit-appearance:none;
    background-color:#187bcd;
    position:absolute ;
    left:16%;
    border-radius:3px;
    top:41%;
    border:0.2px solid #000;
    outline:none;
    opacity:5;
}

.ranging::-webkit-slider-thumb{
    -webkit-appearance:none;
    background-color:#1167b1;
    width:15px;
    height:15px;
    border-radius:15px;
    border:1px solid #000;
    transition:1s;
}
.op-button{
    width:120px;
    height:40px;
    background-color:#8565c4;
    border-radius:5px;
    outline:none;
    border:none;
    color:white;
    font-size:17px;
    user-select:none;
    font-weight:bold;
}

.op-button:active{
    width:110px;
    height:35px;
    background-color:#8565c4;
    border-radius:5px;
    outline:none;
    border:none;
    color:white;
    font-size:15px;
    user-select:none;
}

.facebook{
    width:50px;
    height:50px;
    background-color:blue;
    border-radius:6px;
    text-align:center ;
}

.facebook:after{
    content:'f';
    color:white;
    font-size:43px;
    font-weight:bold;
    position:relative ;
    top:10px;
}
.navs{
    background-color:black;
    position:absolute ;
    width:27px;
    height:5px;
    border-radius:2px; 
}

.navs:before{
    content:'';
     background-color:black;
    position:absolute ;
    width:27px;
    height:5px;
    border-radius:2px; 
    top:8px;
}

.navs:after{
    content:'';
     background-color:black;
    position:absolute ;
    width:27px;
    height:5px;
    border-radius:2px; 
    top:16px;
}
