.red{
color:red;
content:'hi';
font-size:20px;
}
.card-red{
background-color:red;
border-radius:10px;
}

.card-blue{
    background-color:blue;
    border-radius:10px;
}

.card-yellow{
    background-color:yellow;
    border-radius:10px;
}

.card-purple{
    background-color:purple;
    border-radius:10px;
}


.line{
width:6px;
height:60px;
background:black;
}

