\*© Achiever*\
.red{
color:red;
content:'hi';
font-size:20px;
}
.card-red{
background-color:red;
border-radius:10px;
position:relative;
color:white;
margin:auto;
width:60%;
height:150px;
text-align:center;

}

.card-blue{
    background-color:blue;
    border-radius:10px;
    position:relative;
color:white;
margin:auto;
width:60%;
height:150px;
text-align:center;
}

.card-yellow{
    background-color:yellow;
    border-radius:10px;
position:relative;
color:white;
margin:auto;
width:60%;
height:150px;
text-align:center;
}

.card-purple{
    background-color:purple;
    border-radius:10px;
position:relative;
color:white;
margin:auto;
width:60%;
height:150px;
text-align:center;

}


.line{
width:6px;
height:60px;
background:black;
}


.navs{
    background-color:black;
    position:absolute ;
    width:27px;
    height:5px;
    border-radius:2px; 
}

.navs:before{
    content:'';
     background-color:black;
    position:absolute ;
    width:27px;
    height:5px;
    border-radius:2px; 
    top:8px;
}

.navs:after{
    content:'';
     background-color:black;
    position:absolute ;
    width:27px;
    height:5px;
    border-radius:2px; 
    top:16px;
}
.box{
    width:100px;
    height:100px;
    background-color:red;
    border:2px solid;
}

.input-light{
    width:175px;
    height:27px;
    outline-color:black;
    border:0.8px solid;
    background-color:#fffff1;
    transition:1s;
    position:absolute ;
    border-radius:4px;
}

.input-light:hover{
    outline-color:whitesmoke;
    width:200px;
    left:20px;
    transition:1s;
    
}
